# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
myenv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_cache/
junit.xml

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Flask caches, session files, and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# IDEs
.vscode/
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
